*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-example {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.card-example::-webkit-scrollbar {
  display: none;
}

.card {
  position: inherit !important;
  min-width: 300px !important;
}

.button {
  border-radius: 4px;
  background-color: #212529;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
  text-decoration: none;
}

.button {
  background-color: #212529;
}

.button:hover{
  background-color:aqua; /*will change background-color of element on hover */
  color: #212529; 
}

.nav-link {
  border-radius: 4px;
  display: inline-block;
  height: 40px;
  background-color:#212529;/*will change background-color of element */
  color: orange; /*will change color of text within the element */
  }
  
  .nav-link:hover {
  background-color:aqua; /*will change background-color of element on hover */
  color: #212529; /*will change color of text within the element on hover */
  }

